.footer {
  margin-top:60px;
  background: #ffffff;
  color: #ffffff;
  width: 100%;
}

/* =========================
   MAIN FOOTER
========================= */

.footer-main {
  max-width: 1350px;
  margin: 0 auto;
  padding: 72px 40px 80px;

  display: grid;
  grid-template-columns: 1.7fr 0.85fr 0.9fr;
  column-gap: 90px;
}

/* =========================
   LOGO / BRAND
========================= */

.footer-brand {
  max-width: 570px;
}

.footer-logo {
  width: 390px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 32px;
}

.footer-brand p {
  margin: 0;
  max-width: 560px;

  color: rgba(4, 44, 93, 0.58);
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}

.footer-tags {
  display: flex;
  gap: 10px;
  margin-top: 32px;
}

.footer-tags span {
  border: 1px solid rgba(7, 57, 91, 0.521);
  border-radius: 22px;

  padding: 7px 17px;

  color: rgba(3, 25, 92, 0.78);
  font-size: 13px;
  letter-spacing: 0.04em;
}

/* =========================
   HEADINGS
========================= */

.footer-main h3 {
  margin: 8px 0 24px;

  color: #02213f;
  font-size: 18px;
  font-weight: 600;
}

/* =========================
   QUICK LINKS
========================= */

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links a {
  color: rgb(2, 19, 52);
  text-decoration: none;

  font-size: 18px;
  line-height: 1.55;

  margin-bottom: 8px;

  transition: color 0.25s ease;
}

.footer-links a:hover {
  color: #064c48;
}

/* =========================
   CONTACT
========================= */

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-contact p {
  margin: 0 0 25px;

  color: rgba(2, 17, 46, 0.767);
  font-size: 18px;
  line-height: 1.6;
}

.footer-contact a {
  color: rgba(2, 4, 52, 0.88);
  text-decoration: none;

  font-size: 18px;
  line-height: 1.55;
}

.footer-contact a:hover {
  color: #042d41;
}

/* =========================
   BOTTOM
========================= */

.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.25);

  min-height: 72px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
}

.footer-bottom p {
  margin: 0;

  color: rgba(3, 5, 62, 0.689);
  font-size: 16px;
}

.footer-legal {
  display: flex;
  gap: 30px;
}

.footer-legal a {
  color: rgba(1, 18, 54, 0.827);
  text-decoration: none;
  font-size: 16px;

  transition: color 0.25s ease;
}

.footer-legal a:hover {
  color: #ffffff;
}

/* =========================
   TABLET
========================= */

@media (max-width: 900px) {
  .footer-main {
    grid-template-columns: 1.4fr 1fr;
    row-gap: 55px;
    column-gap: 50px;
  }

  .footer-contact {
    grid-column: 2;
  }

  .footer-brand {
    grid-row: span 2;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 640px) {
  .footer-main {
    grid-template-columns: 1fr;
    padding: 55px 25px 60px;
    gap: 45px;
  }

  .footer-brand {
    grid-row: auto;
  }

  .footer-contact {
    grid-column: auto;
  }

  .footer-logo {
    width: 300px;
  }

  .footer-brand p,
  .footer-links a,
  .footer-contact p,
  .footer-contact a {
    font-size: 16px;
  }

  .footer-bottom {
    padding: 22px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .footer-bottom p {
    font-size: 13px;
  }

  .footer-legal {
    gap: 22px;
  }

  .footer-legal a {
    font-size: 14px;
  }
}